
body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: black;
  color: white;
  text-align: center;
}


.video-hero {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.video-hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 6px black;
}

.hero-content p {
  font-size: 20px;
  opacity: 0.9;
  text-shadow: 1px 1px 4px black;
}


nav {
  background-color: cyan;
  width: 85%;
  margin: 20px auto;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  font-weight: 600;
  color: black;
  transition: color 0.3s;
}

nav a:hover {
  color: white;
}


.box {
  background-color: white;
  color: black;
  width: 70%;
  margin: 30px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  text-align: center;
  border-top: 4px solid cyan;
}

/* ===== IMAGE ===== */
img {
  margin: 15px 0;
}

.profile {
  width: 220px;
  border-radius: 50%;
  border: 4px solid cyan;
}


.social-img {
  width: 26px;
  vertical-align: middle;
  margin-right: 10px;
  transition: transform 0.3s;
}

.social-img:hover {
  transform: scale(1.2);
}


table {
  width: 85%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border: 1px solid black;
}

th {
  background-color: cyan;
  color: black;
}


ul, ol {
  width: 80%;
  margin: 25px auto;
  text-align: left;
}


.box a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
}

.box a:hover {
  color: black;
  text-decoration: underline;
}


video {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  margin-top: 20px;
  border: 2px solid cyan;
}

.gallery-container {
  display: flex;
  justify-content: center; 
  flex-wrap: nowrap;
  gap: 15px; 
  margin-top: 25px;
 
}

.gallery-container img {
  width: 240px; 
  height: auto;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  display: block;
  transition: transform 0.3s;
  border: 2px solid cyan;
}

.gallery-container img:hover {
  transform: scale(1.05); 
}


footer {
  margin-top: 40px;
  background-color: cyan;
  color: black;
  padding: 15px;
  font-size: 14px;
}